{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'change_password.css' %}">
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
        <div class="back-home">
            <a href="{% url 'home' %}" class="btn">Back to Home</a>
            
        </div>
    </div>
</body>
</html>
